@namespace SimpleTable

@if (!string.IsNullOrWhiteSpace(_isScrollable))
{
    <div class="@Constants.Scrollable">
        @_tableTemplate
    </div>
}
else
{
    @_tableTemplate
}

@code {
    private RenderFragment _tableTemplate => __builder =>
    {
        <table id="@Id" class="@_classes" style="@Style">@ChildContent</table>
    };
}

<style>
    .scroll {
        height: @_isScrollable;
        max-height: @_isScrollable;
        overflow: auto;
        box-sizing: border-box;
    }
</style>