@namespace SimpleTable

@if (!string.IsNullOrWhiteSpace(_scrollStyle))
{
    <div class="@Constants.Scrollable" style="@_scrollStyle">
        @_tableTemplate
    </div>
}
else
{
    @_tableTemplate
}

@code {
    private RenderFragment _tableTemplate => __builder =>
    {
        <table id="@Id" class="@_classes" style="@Style">@ChildContent</table>
    };
}